# -----------------------------------------------------------------------------
# Site settings
# -----------------------------------------------------------------------------
name: Kenya Amano
email: kamano@uw.edu
description: > # this means to ignore newlines until "url:"
  Digital Scholarship and libraries.
footer_text: >
  Powered by <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> with <a href="https://github.com/alshedivat/al-folio">al-folio</a> theme.
  Hosted by <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>.
  
url: https://kenyamano.github.io  # the base hostname & protocol for your site
last_updated: November 1, 2022 # leave blank if you don't want to display last updated




# -----------------------------------------------------------------------------
# Social integration
# -----------------------------------------------------------------------------
github_username: kenyamano # your GitHub user name
twitter_username: KenyaAmano # your Twitter handle
linkedin_username: kenya-amano-516a14100 # your LinkedIn user name
scholar_userid: nYeP-i4AAAAJ # your Google Scholar ID
orcid_id: 0000-0002-5051-4144 # your ORCID ID
research_gate_profile: Kenya-Amano # ResearchGate ID
#contact_note: 

#google_analytics: UA-126619141-1 # out your google-analytics code

# -----------------------------------------------------------------------------
# Blog
# -----------------------------------------------------------------------------
blog_name: 
blog_description: 

# Pagination
paginate: 4
permalink: /blog/:year/:title/
paginate_path: /blog/page:num/

text:
  pagination:
    newer: 'Newer'
    older: 'Older'

# Comments
disqus_shortname:  # put your disqus shortname

# Optional features
show_social_icons:  false
enable_anchorjs:    false
enable_katex:       true
future:             true  

# -----------------------------------------------------------------------------
# Collections
# -----------------------------------------------------------------------------
#collections:
#  news:
#    defaults:
#      layout: post
#    output: true
#    permalink: /news/:path/
#    future: true
#  projects:
#    output: true
#    permalink: /projects/:path/

#news_limit: 10

# -----------------------------------------------------------------------------
# Jekyll settings
# -----------------------------------------------------------------------------

# Build settings
markdown: kramdown
highlighter: rouge

# Includes & excludes
include: ['_pages']
exclude: [vendor]

# Plug-ins
plugins:
    - jekyll-email-protect
    - jekyll-paginate
    - jekyll/scholar
    - jemoji

# Jekyll-Scholar
scholar:

  last_name: Amano

  style: apa
  locale: en

  sort_by: year
  order: descending

  source: /_bibliography/
  bibliography: papers.bib
  bibliography_template: bib

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"


# -----------------------------------------------------------------------------
# Other settings
# -----------------------------------------------------------------------------
jquery_version: "1.12.4"
katex_version: "0.9.0"
anchorjs_version: "3.2.2"
